# Build Folder
build/

# Project file
.cproject
.project

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Jupyter Check Point folders
.ipynb_checkpoints/

# CTags file
*.tags
*.tags_sorted_by_file


# Result filename
*.res
*.xlsx
*.xlsx#
# CLion file
.idea/

# PDF files
*.pdf

# Data folders and Result folders
build/
data/
result/
cmake-build-debug/
sample/
